@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

body {
    background-color: black;
}

.logo {
    width: 100px;
}

.navbar {
    background-color: black;
}

.navbar a {
    color: red;
}

.hero {
    background-image: url(../img/imagenprincipalinicio.jpg);
    height: 100vh;
    background-size: cover;
}

.vehiculos2 {
    position: relative;
    width: 100%;
    
}

.vehiculos2 img {
    width: 100%;
    
    display: block;
    background-size: cover;
}

.textosobreimagen {
    position: absolute;
    top: 50%; 
    right: 20px; 
    transform: translateY(-50%); 
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    max-width: 30%;
    font-family: "Oswald";
}

.textosobreimagen h2 {
    margin-top: 0;
    font-size: 1.5em;
    font-family: "Oswald";
}

.textosobreimagen p {
    margin-bottom: 0;
    font-family: "Oswald";
}

.vehiculos3 {
    position: relative;
    width: 100%;
}

.vehiculos3 img {
    width: 100%;
    
    display: block;
    background-size: cover;
}

.textosobreimagen3 {
    position: absolute;
    top: 50%; 
    left: 20px; 
    transform: translateY(-50%); 
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    max-width: 30%;
    font-family: "Oswald";
}

.textosobreimagen3 h2 {
    margin-top: 0;
    font-size: 1.5em;
    font-family: "Oswald";
}

.textosobreimagen3 p {
    margin-bottom: 0;
    font-family: "Oswald";
}

.vehiculos4 {
    position: relative;
    width: 100%;
}

.vehiculos4 img {
    width: 100%;
    
    display: block;
    background-size: cover;
}

.textosobreimagen4 {
    position: absolute;
    top: 50%; 
    left: 20px; 
    transform: translateY(-50%); 
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    max-width: 30%;
    font-family: "Oswald";
}

.textosobreimagen4 h2 {
    margin-top: 0;
    font-size: 1.5em;
    font-family: "Oswald";
}

.textosobreimagen4 p {
    margin-bottom: 0;
    font-family: "Oswald";
}

.heropotencia-content {
    position: relative;
    width: 100%;
}

.heropotencia-content img {
    width: 100%;
    
    display: block;
    background-size: cover;
}

.heropotencia-text {
    position: absolute;
    top: 50%; 
    right: 20px; 
    transform: translateY(-50%); 
    padding: 20px;
    max-width: 30%;
    font-family: "Oswald";
    color: white;
}

.heropotencia-text h2 {
    margin-top: 0;
    font-size: 1.5em;
    font-family: "Oswald";
    height: 15vh;
}

.heropotencia-text p {
    margin-bottom: 0;
    font-family: "Oswald";
}

.valorpower {
    position: relative;
    width: 100%;
}

.valorpower img {
    width: 100%;
    
    display: block;
    background-size: cover;
}

.textosobreimagen1 {
    position: absolute;
    top: 50%; 
    right: 20px; 
    transform: translateY(-50%); 
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    max-width: 30%;
    font-family: "Oswald";
}

.textosobreimagen1 h2 {
    margin-top: 0;
    font-size: 1.5em;
    font-family: "Oswald";
}

.textosobreimagen1 p {
    margin-bottom: 0;
    font-family: "Oswald";
}